@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: Epilogue;
}
body {
  background-color: #f7f7f7;
}
/* Navbar */
.navbar-toggler {
  border: none;
  font-size: 1.25 rem;
}
.nav-link {
  color: #e3e2e2;
  font-weight: 500;
  position: relative;
}
.nav-link:hover,
.nav-link.active {
  color: white;
}
.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: white;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  visibility: visible;
}

/* Breadcumb */
.nav-li {
  text-decoration: none;
  color: #8f1313;
}
.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Menampilkan maksimal 2 baris */
  -webkit-box-orient: vertical;
}

/* Paginasi */
.pagination .page-item.active .page-link {
  background-color: #8f1313;
  border-color: #8f1313;
  color: white;
}
.pagination .page-link {
  color: black;
  background-color: #f7f7f7;
}

/* button */
.custom-btn {
  color: #8f1313;
  border-color: #8f1313;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.3s;
}
.custom-btn:hover {
  background-color: #ab1616;
  color: #fff;
}
