@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: Epilogue;
}
body {
  background-color: #f7f7f7;
}
/* Navbar */
.navbar-toggler {
  border: none;
  font-size: 1.25 rem;
}
.nav-link {
  color: #e3e2e2;
  font-weight: 500;
  position: relative;
}
.nav-link:hover,
.nav-link.active {
  color: white;
}
.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: white;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  visibility: visible;
}

/* Breadcumb */
.nav-li {
  text-decoration: none;
  color: #8f1313;
}
.nav-li:hover {
  color: #e84343;
}
.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Card link image */
.card {
  border: none;
  box-shadow: none;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 20px;
  transition: transform 0.3s ease;
}
.overlay h5,
.overlay p {
  margin-bottom: 0;
}
.card:hover .overlay {
  transform: scale(1.05);
}

.card-img-top {
  transition: transform 0.3s ease;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

.overlay-4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 15px;
  transition: transform 0.3s ease;
}
.overlay-4 h5,
.overlay-4 p {
  margin-bottom: 0;
}
.card:hover .overlay-4 {
  transform: scale(1.05);
}

/* Card Berita */
.card-berita {
  position: relative;
  overflow: hidden;
  border-radius: 7px;
  transition: box-shadow 0.3s ease;
}

.card-berita:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card-img-top-berita {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.card-berita:hover .card-img-top-berita {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.card-berita:hover .card-img-top-berita:active {
  transform: scale(1);
}

.bg-custom-berita {
  position: relative;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.stretched-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-berita:hover .stretched-link {
  opacity: 1;
}

/* Paginasi */
.pagination .page-item.active .page-link {
  background-color: #8f1313;
  border-color: #8f1313;
  color: white;
}
.pagination .page-link {
  color: black;
  background-color: #f7f7f7;
}

/* button */
.btn-outline-light:hover {
  background-color: white;
  color: #8f1313;
}
.btn-light:hover {
  color: #8f1313;
}
.custom-btn {
  color: #8f1313;
  border-color: #8f1313;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.3s;
}
.custom-btn:hover {
  background-color: #ab1616;
  color: #fff;
}

/* Berita Text */
.text-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.btn-berita {
  text-decoration: none;
  color: #bc9898;
  display: block;
  padding-bottom: 15px;
}

.btn-berita:hover {
  color: #8f1313;
}
.btn-berita:active,
.btn-berita.active {
  color: #8f1313;
}

.btn-berita.active::after {
  background-color: #8f1313;
}

.hr-custom {
  border: none;
  border-top: 2px solid #8f1313;
}

.box {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid #9e1e27;
  background: #f7f7f7;
  padding: 20px 25px;
}
.box-top {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 61px;
  height: 61px;
  margin-right: 25px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.star-container {
  margin-top: 0px;
}

h5 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.content {
  width: 100%;
  margin-top: 20px;
}

.isi-ulasan {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 0px;
}

.custom-btn-ulasan {
  color: white;
  background-color: #8f1313;
  padding: 10px 30px;
  border-radius: 30px;
}
.custom-btn-ulasan:hover {
  background-color: #ab1616;
  color: white;
}
